<header class="header-area wow fadeInDown" data-wow-delay="0.2s">
  <div class="nav-brand-left nav-padding-bottom">
    <div class="brand-left">
      <img src="../../img/index/矢量智能对象 拷贝@2x.png">
    </div>
    <div class="brand-right">
      <div class="title-t">Stores</div>
      <div class="title-b">
        探寻实体店
        <img class="position-icon" src="../../img/index/地图坐标 (1)@2x.png"></div>
    </div>
  </div>
  <nav class="nav-menu-container">
    <ul>
      <li class="menu-item nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="">Home</a></div>
          <div class="b-link"><a href="">首页</a></div>
        </div>
      </li>
      <li class="menu-item nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="">Brand</a></div>
          <div class="b-link"><a href="">品牌</a></div>
        </div>
      </li>
      <li class="menu-item nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="">Product</a></div>
          <div class="b-link"><a href="">产品</a></div>
        </div>
      </li>
      <li class="menu-item nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="">Case</a></div>
          <div class="b-link"><a href="">案例</a></div>
        </div>
      </li>
      <li class="menu-item nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="">News</a></div>
          <div class="b-link"><a href="">头条</a></div>
        </div>
      </li>
      <li class="menu-item nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="">Services</a></div>
          <div class="b-link"><a href="">服务与活动</a></div>
        </div>
      </li>
      <li class="menu-item nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="">Cooperation</a></div>
          <div class="b-link"><a href="">商业合作</a></div>
        </div>
      </li>
    </ul>
  </nav>
  <div class="nav-brand-right">
    <img src="../../img/index/矢量智能对象@2x.png" alt="自然主义">
  </div>
</header>
